@use '../../../sass/partitials/config' as *;
@use '../../../sass/partitials/mixins' as *;

.faq__item-question {
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    padding-right: 8px;

    @include screen-l {
        font-size: 16px;
        line-height: 22px;
    }

    @include screen-m {
        font-size: 18px;
        line-height: 24px;
    }

    @include screen-s {
        font-size: 16px;
        line-height: 22px;
    }
}