@use '../../../sass/partitials/config' as *;

.ui-switch__case {
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 128px;
}