.prices__card-price-wrap {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    mask-image: linear-gradient(90deg, transparent 5%, #fff 20%, #fff 80%, transparent 95%);
    overflow: hidden;
    width: 208px;
}