@use '../../../sass/partitials/mixins' as *;

.team__member-card {
    cursor: pointer;
    display: flex;
    height: 616px;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    @include screen-l {
        height: 512px;
    }

    @include screen-m {
        height: 480px;
        max-width: 480px;
    }
}