@use '../../sass/partitials/mixins' as *;

.brands {
    display: flex;
    flex-wrap: nowrap;
    height: 72px; 
    margin: 32px auto;
    mask-image: linear-gradient(90deg, transparent 2%, #fff 20%, #fff 80%, transparent 98%);
    max-width: 1280px;
    overflow: hidden;
    top: 96px;

    @include screen-l {
        top: 88px;
    }

    @include screen-xs {
        top: 80px;
    }
}