$backdrop-filter: blur(16px);
$background: rgba($color: white, $alpha: 0.05);
$border: 1px solid rgba($color: white, $alpha: 0.25);

$color-accent: #F37932;
$color-black: #1B1B1B;
$color-white: #ECECEC;

$font-primary: 'Roboto';
$font-secondary: 'Tactic Sans';

$duration-l: 1000ms;
$duration-m: 750ms;
$duration-s: 500ms;